@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;600;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: 'Merriweather', serif; */
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #479fff;
  padding: 8px 0;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}
.container {
  width: 1100px;
  display: flex;
  /* gap: 2%; */
  flex-wrap: wrap;
}

.logo {
  width: 50%;
}

.logo img {
  width: 130px;
  display: block;
}
.menu {
  width: 50%;
  text-align: center;
}

.menu h1 {
  font-size: 27px;
  margin: 0;
  color: #fff;
  margin-bottom: 5px;
}
.menu a {
  background-color: #fff;
  padding: 5px 8px;
  display: inline-flex;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
/* ==============About Section==================== */
.about-section {
  padding: 40px 0;
}
section {
  display: flex;
  justify-content: center;
}

.col_1_2 {
  width: 50%;
}

.col_1_2 div {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section h2 {
  font-weight: 700;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: -1px;
  margin: 0;
}
.about-section h3 {
  width: 300px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 0;
}
/* ===========Text Section============= */
.col_full {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  width: 615px;
  border: 1px solid #4c4c4c30;
  padding: 13px 14px;
  border-radius: 12px;
}

.content p {
  margin: 0;
  font-weight: 300;
  text-align: center;
  font-size: 17px;
}
